@import "tailwindcss";

@layer base {
    body {
        @apply bg-white font-jost text-main;
    }

    html {
        @apply scroll-smooth;
    }
}

@theme {
    --color-*: initial;
    --color-blue: #4353ff;
    --color-gray: #e2e1df;
    --color-light: #f1f1f1;
    --color-main: #000000;
    --color-overlay: #0000000a;
    --color-second: #333333;
    --color-white: #ffffff;
    --color-yellow: #e2b013;

    --font-jost: "Jost", sans-serif;

    --breakpoint-*: initial;
    --breakpoint-sm: 40rem; /*640px*/
    --breakpoint-md: 48rem; /*768px*/
    --breakpoint-lg: 64rem; /*1024px*/
    --breakpoint-xl: 82.5rem; /*1320px*/
}

@layer components {
    .container {
        @apply mx-auto max-xl:px-1;
    }

    .underline_hover {
        @apply [&_div]:absolute [&_div]:bottom-0 [&_div]:h-0.5 [&_div]:w-0 [&_div]:bg-main [&_div]:transition-[width] [&_div]:duration-300 *:hover:[&_div]:w-full *:[li]:relative;
    }

    .font-reg26 {
        @apply font-jost leading-8 font-normal uppercase;
        font-size: 26px;
    }

    .font-reg16 {
        @apply font-jost text-base leading-5 font-normal;
    }

    .font-reg14 {
        @apply font-jost text-sm leading-5 font-normal;
    }

    .font-reg18 {
        @apply font-jost text-lg leading-5 font-normal;
    }

    .font-reg24 {
        @apply font-jost text-2xl leading-7 font-normal;
    }

    .font-reg10 {
        @apply font-jost leading-4 font-normal uppercase;
        font-size: 10px;
    }

    .font-reg11 {
        @apply font-jost text-xs leading-4 font-normal uppercase;
    }

    .font-reg36 {
        @apply font-jost text-4xl leading-tight font-normal;
    }

    .font-reg10up {
        @apply font-jost leading-3 font-normal uppercase;
        font-size: 10px;
    }

    .font-reg96 {
        @apply font-jost text-8xl leading-normal font-normal;
        line-height: 0.9;
    }

    .font-reg14up {
        @apply font-jost text-sm leading-5 font-normal uppercase;
    }

    .font-reg50 {
        @apply font-jost leading-normal font-normal;
        font-size: 50px;
    }

    .font-reg2633 {
        @apply font-jost leading-8 font-normal;
        font-size: 26px;
    }

    .font-reg22 {
        @apply font-jost leading-7 font-normal;
        font-size: 22px;
    }
}

@layer utilities {
    /* sm */
    @media (min-width: 40rem) {
        .sm\:font-reg26 {
            @apply font-jost leading-8 font-normal uppercase;
            font-size: 26px;
        }
        .sm\:font-reg16 {
            @apply font-jost text-base leading-5 font-normal;
        }
        .sm\:font-reg14 {
            @apply font-jost text-sm leading-5 font-normal;
        }
        .sm\:font-reg18 {
            @apply font-jost text-lg leading-5 font-normal;
        }
        .sm\:font-reg24 {
            @apply font-jost text-2xl leading-7 font-normal;
        }
        .sm\:font-reg10 {
            @apply font-jost leading-4 font-normal uppercase;
            font-size: 10px;
        }
        .sm\:font-reg11 {
            @apply font-jost text-xs leading-4 font-normal uppercase;
        }
        .sm\:font-reg36 {
            @apply font-jost text-4xl leading-tight font-normal;
        }
        .sm\:font-reg10up {
            @apply font-jost leading-3 font-normal uppercase;
            font-size: 10px;
        }
        .sm\:font-reg96 {
            @apply font-jost text-8xl leading-normal font-normal;
            line-height: 0.9;
        }
        .sm\:font-reg14up {
            @apply font-jost text-sm leading-5 font-normal uppercase;
        }
        .sm\:font-reg50 {
            @apply font-jost leading-normal font-normal;
            font-size: 50px;
        }
        .sm\:font-reg2633 {
            @apply font-jost leading-8 font-normal;
            font-size: 26px;
        }
        .sm\:font-reg22 {
            @apply font-jost leading-7 font-normal;
            font-size: 22px;
        }
    }

    /* md */
    @media (min-width: 48rem) {
        .md\:font-reg26 {
            @apply font-jost leading-8 font-normal uppercase;
            font-size: 26px;
        }
        .md\:font-reg16 {
            @apply font-jost text-base leading-5 font-normal;
        }
        .md\:font-reg14 {
            @apply font-jost text-sm leading-5 font-normal;
        }
        .md\:font-reg18 {
            @apply font-jost text-lg leading-5 font-normal;
        }
        .md\:font-reg24 {
            @apply font-jost text-2xl leading-7 font-normal;
        }
        .md\:font-reg10 {
            @apply font-jost leading-4 font-normal uppercase;
            font-size: 10px;
        }
        .md\:font-reg11 {
            @apply font-jost text-xs leading-4 font-normal uppercase;
        }
        .md\:font-reg36 {
            @apply font-jost text-4xl leading-tight font-normal;
        }
        .md\:font-reg10up {
            @apply font-jost leading-3 font-normal uppercase;
            font-size: 10px;
        }
        .md\:font-reg96 {
            @apply font-jost text-8xl leading-normal font-normal;
            line-height: 0.9;
        }
        .md\:font-reg14up {
            @apply font-jost text-sm leading-5 font-normal uppercase;
        }
        .md\:font-reg50 {
            @apply font-jost leading-normal font-normal;
            font-size: 50px;
        }
        .md\:font-reg2633 {
            @apply font-jost leading-8 font-normal;
            font-size: 26px;
        }
        .md\:font-reg22 {
            @apply font-jost leading-7 font-normal;
            font-size: 22px;
        }
    }

    /* lg */
    @media (min-width: 64rem) {
        .lg\:font-reg26 {
            @apply font-jost leading-8 font-normal uppercase;
            font-size: 26px;
        }
        .lg\:font-reg16 {
            @apply font-jost text-base leading-5 font-normal;
        }
        .lg\:font-reg14 {
            @apply font-jost text-sm leading-5 font-normal;
        }
        .lg\:font-reg18 {
            @apply font-jost text-lg leading-5 font-normal;
        }
        .lg\:font-reg24 {
            @apply font-jost text-2xl leading-7 font-normal;
        }
        .lg\:font-reg10 {
            @apply font-jost leading-4 font-normal uppercase;
            font-size: 10px;
        }
        .lg\:font-reg11 {
            @apply font-jost text-xs leading-4 font-normal uppercase;
        }
        .lg\:font-reg36 {
            @apply font-jost text-4xl leading-tight font-normal;
        }
        .lg\:font-reg10up {
            @apply font-jost leading-3 font-normal uppercase;
            font-size: 10px;
        }
        .lg\:font-reg96 {
            @apply font-jost text-8xl leading-normal font-normal;
            line-height: 0.9;
        }
        .lg\:font-reg14up {
            @apply font-jost text-sm leading-5 font-normal uppercase;
        }
        .lg\:font-reg50 {
            @apply font-jost leading-normal font-normal;
            font-size: 50px;
        }
        .lg\:font-reg2633 {
            @apply font-jost leading-8 font-normal;
            font-size: 26px;
        }
        .lg\:font-reg22 {
            @apply font-jost leading-7 font-normal;
            font-size: 22px;
        }
    }

    /* xl */
    @media (min-width: 82.5rem) {
        .xl\:font-reg26 {
            @apply font-jost leading-8 font-normal uppercase;
            font-size: 26px;
        }
        .xl\:font-reg16 {
            @apply font-jost text-base leading-5 font-normal;
        }
        .xl\:font-reg14 {
            @apply font-jost text-sm leading-5 font-normal;
        }
        .xl\:font-reg18 {
            @apply font-jost text-lg leading-5 font-normal;
        }
        .xl\:font-reg24 {
            @apply font-jost text-2xl leading-7 font-normal;
        }
        .xl\:font-reg10 {
            @apply font-jost leading-4 font-normal uppercase;
            font-size: 10px;
        }
        .xl\:font-reg11 {
            @apply font-jost text-xs leading-4 font-normal uppercase;
        }
        .xl\:font-reg36 {
            @apply font-jost text-4xl leading-tight font-normal;
        }
        .xl\:font-reg10up {
            @apply font-jost leading-3 font-normal uppercase;
            font-size: 10px;
        }
        .xl\:font-reg96 {
            @apply font-jost text-8xl leading-normal font-normal;
            line-height: 0.9;
        }
        .xl\:font-reg14up {
            @apply font-jost text-sm leading-5 font-normal uppercase;
        }
        .xl\:font-reg50 {
            @apply font-jost leading-normal font-normal;
            font-size: 50px;
        }
        .xl\:font-reg2633 {
            @apply font-jost leading-8 font-normal;
            font-size: 26px;
        }
        .xl\:font-reg22 {
            @apply font-jost leading-7 font-normal;
            font-size: 22px;
        }
    }
}
